<%= start_form_tag({:action => 'simple'}, {:class => 'simpleui'}) %>
<%= text_field 'param', 'uri', :size => 80, :value => @params[:param] && @params[:param][:uri] %>
<%= submit_tag "スクリーンショットを撮る!", :id => "submit", :name => nil %>
<%= end_form_tag %>
