
<p>
おすきなの URL のスクリーンショットが取れます。<br>

<a href="http://img.simpleapi.net/">
  SimpleAPIサムネイル作成API
</a>や
<a href="http://screenshot.hatena.ne.jp/">
  はてなスクリーンショット
</a>
みたいなもんです。
ただバックエンドが Gecko だったり微妙に高機能だったりします。
</p>

<p>
ここ以外に<a href="/ui/advanced">もうちょっと複雑な UI</a>
と<a href="<%= @shotbase %>">手抜きの使いかた説明</a>を用意してあります。
それから<a href="/source.html">無制限のカスタマイズも可能</a>ですよ。
もしこのサービスに関してツッコミ、質問、お叱り等々あれば sugi@nemui.org までどうぞ。
</p>

<%= render :partial => 'simple_form' %>

<%= @demo %>
